:root {
    --color-primary: #2D9CDB;
    --color-bg-footer: #100E1D;
    --color-bg-input: #F2F2F2;
    --color-icon-orange: #EB5757;
    --color-btn-text-gray: #828282;


    --small-mp: 5px;
    --mid-mp: 10px;
    --large-mp: 20px;

    --small-rounded: 5px;
    --mid-rounded: 12px;
    --large-rounded: 18px;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right : 10px;
    margin-top : 5px;
    margin-bottom : 5px;
    color: #3e3e3e;
}


.container{
    display: inline-block;
}

/* HEADER */
.span-right{
    visibility: hidden;
    margin-left: 38%;
    display: inline;
}
.span-right>span{
    margin-left: 5.7%;
    font-size: 17px;
}
.name-header{
    font-weight: bold;
    margin-left: 2%;
    font-size: 26px;
}
.header-container{
    margin-top: var(--mid-mp);
}



/* text_before_principal_image */
.text-blue {
    color: var(--color-primary);
}
.text_before_principal_image{
    display: inline-block;
    margin-top: 6%;
    width: 28%;
    margin-left: 20%;
}
.text_before_p_title{
    margin-top: var(--mid-mp);
    display: inline-block;
}

.principal_image{
    width: 96%;
    height: 100%;
    border-radius: var(--large-rounded);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: var(--large-mp);
}

 /* TEXT CONTAINER AFTER PRINCIPAL IMAGE  */
.title_after_principal_image{
    width: 20%;
    margin-top: 5%;
    margin-left: 16%;    
}
.tafterp{
    margin-top: 10%;
    width: 23%;
    margin-top: 5%;
    margin-left: 16%;  
}
.contact_us_tafp{
    margin-top: 5%;
    margin-left: 16%;   
}
.input_send_email{
    margin-top: var(--mid-mp);
    background-color: var(--color-bg-input);
    color: #C7C7C7;
    position: absolute;
    border-radius: 12px;
    border: none;
    padding: 15px;
    width: 280px;

}
.btn_send_email {
    margin-top: 17px;

    position: relative;
    margin-left: 200px;
    text-align: center;
    width: 100px;
    padding: 8px 2px;
    background-color: var(--color-primary) ;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    text-decoration: none;

}

/* CARDS OPTIONS */
.card{
    margin: auto;
    width: 68%;

    padding: 14%;
    border-radius: 18px;
}
.card_selected{
    box-shadow: 1px 1px 7px 0.5px #888888;
}
.btn_unselected{
    margin-top: var(--large-mp);
    color: var(--color-btn-text-gray);
    padding: 3.5% 3.5%;
    border-radius: 10px;
    background-color: var(--color-bg-input);
    border: none;
}
.btn_selected{
    margin-top: var(--large-mp);
    color: #fff;
    padding: 3.5% 3.5%;
    border-radius: 10px;
    background-color: var(--color-primary);
    border: none;
}

.title_cards_container{
    margin-top: 13%;
    width: 20%;
    margin-left: 10%;
}
.cards_container_father{
    margin-top: 5%;
}
.cards_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 88%;
    margin: auto;
}

/* CARDS IMAGES  */
.title_cards_image_container{
    margin-top: 20%;
    margin-left: 8%;
}
.all_cards_image{
    margin-left: 10%;
}
.card-title{
    width: 20%;
}
.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.card_image>img{
    width: 85%;

    height: 400px;
}
.first_card{
    margin-top: 20%;
}
.see_more{
    margin-left: 68%;
    margin-top: 16%;
}
.text_orange{
    color: var(--color-icon-orange);
}
.mt-paragraghs-card{
    /* margin-top: 24px; */
    margin-top: 10%;
}
.card_image_rounded{
    border-radius: var(--large-rounded);
}

/* WORKGROUP */
.team_container{
    margin-top: 20%;
    margin-left: 10%;
}
.team_text{
    width: 40%;
}
.img_team{
    border-radius: var(--large-rounded);
    /* width: 260px; */
    width: 100%;
    /* height: 230px; */
    height: 60%;
}
.img_team_litle{
    
    border-radius: var(--large-rounded);
    /* width: 220px; */
    width: 80%;
    /* height: 190px; */
    height: 42%;
}
.p_top_margin{
    margin-top: 4%;
}
.img_work_container{
    /* margin-right: 150px; */
    margin-right: 25%;
}

.img_team_top{
    margin-top: var(--large-mp);
}
.first_image{
    margin-top: 25%;
    margin-right: 5%;
}


/* BEFORE FOOTER SECTION */
.before_footer{
    margin-top: 10%;
    margin-left: 10%;
    width: 60%;
}
.rowcard{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.img_mini{
    border-radius: var(--large-rounded);
    width: 70px;
    height: 70px;
}
/* FOOTER SECTION */
footer{
    margin-top: 8%;
    background-color: var(--color-bg-footer);
}
footer>*{  
    color: #fff
}
.row_footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 85%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 7%;
}
.col1_footer>p{
    padding-top: 4%;
    color: #fff;
}
.name_footer{
    margin: 0;
    margin-bottom: 2%;
    color: #fff;
    font-weight: 1000;
}

.input_send_footer{
    margin-top: var(--mid-mp);
}
@media screen and (max-width: 365px){





body{
    background-color: #2D9CDB;
}

    /* text_before_principal_image */

    .text_before_principal_image{
        display: inline-block;
        margin-top: 6%;
        width: 80%;
        margin-left: 20%;
    }


    .principal_image{
        width: 96%;
        height: 100%;
        border-radius: var(--large-rounded);
        margin-left: 20px;
        margin-top: var(--large-mp);
    }

    /* TEXT CONTAINER AFTER PRINCIPAL IMAGE  */
    .title_after_principal_image{
        width: 65%;
        margin-top: 5%;
        margin-left: 16%;    
    }
    .tafterp{
        margin-top: 10%;
        width: 80%;
        margin-top: 5%;
        margin-left: 16%;  
    }




    /* CARDS OPTIONS */



    .title_cards_container{
        margin-top: 13%;
        width: 60%;
        margin-left: 16%;    
    }
    .cards_container_father{
        margin-top: 5%;
        margin-left: 16%;    
    }
    .cards_container{
        display: block;
        width: 88%;
        margin: auto;
    }

    /* CARDS IMAGES  */


    .card-title{
        width: 60%;
    }
    .row{
        display: block;
    }
    .card_image>img{
        width: 100%;
        margin-top: 10%;
        height: 300px;
    }





 
    .team_grupo{
        display: inline-block;
        margin: auto;
    }
    .team_text{
        width: 70%;
    }
    .img_team{
        border-radius: var(--large-rounded);
        width: 100%;
        height: 60%;
    }
    .img_team_litle{
        
        border-radius: var(--large-rounded);
        width: 80%;
        height: 42%;
    }
    .p_top_margin{
        margin-bottom: 5%;
        margin-top: 4%;
    }
    .img_work_container{
        /* margin-right: 150px; */
        margin-top: 100px;
        display: grid;
        height: 100%;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
    }

   



    /* BEFORE FOOTER SECTION */
    .before_footer{
        margin-top: 10%;
        margin-left: 10%;
        width: 100%;
    }

    .img_mini{
        border-radius: var(--large-rounded);
        width: 70px;
        height: 70px;
    }
    /* FOOTER SECTION */
    footer{
        margin-top: 8%;
        background-color: var(--color-bg-footer);
        width: 120%;
    }

    .row_footer{
        display: block;
        width: 85;
        margin: auto;
        padding-top: 3%;
        padding-bottom: 7%;
    }
    .col1_footer>p{
        padding-top: 4%;
  
    }
    .name_footer{
        margin: 0;
        margin-bottom: 2%;
        color: #fff;
        margin-top: 10%;
        font-weight: 1000;
    }
    .col3_footer{
        margin-top: 10%;
    }

    .input_send_footer{
        margin-top: var(--mid-mp);
    }
}